<<<<<<< HEAD
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuente-principal), sans-serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}
=======
:root {
    --azul: #0A1D8F;
    --verde-oscuro: #1A4731;
    --verde-medio: #2D6A4F;
    --naranja: #E8611A;
    --verde-oliva:#B0D80B;
    --fondo: #F9FAF7;
    --texto: #1A1A1A;
    --fuente: "Poppins", sans-serif;
    --fuente2:"Archivo", sans-serif;
}

.menu principal{
    background-color: #0A1D8F;
    font-family: var(--fuente2);

}

h2{
    font-family:var(--fuente2);
    font-size: 16px;
    color: var(--verde-oliva);

}
>>>>>>> 45577097dfb58582cf9476201544d64fe34555df
